/* Réinitialisation de certains styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo img {
    width: 40px;
    margin-right: 15px;
}

header h1 {
    font-size: 20px;
}

/* Section principale */
main {
    padding: 20px;
}

/* Style du formulaire */
.form-section {
    background-color: white;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-size: 1rem;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (min-width: 768px) {
    .form-section {
        max-width: 600px;
    }

    header h1 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo img {
        width: 35px;
    }

    header h1 {
        font-size: 22px;
    }

    button {
        padding: 10px;
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
        padding: 12px;
    }
}